<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.example.vansh.wdyw">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_log"
        android:label="@string/WDYW"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BorrowerLoanPostActivity"
            android:label="Request Loan" />
        <activity
            android:name=".activity.FirstPage"
            android:label="Welcome" />
        <activity
            android:name=".activity.LSignupActivity"
            android:label="Lender&apos;s Signup" />
        <activity
            android:name=".activity.BorrowerMainActivity"
            android:label="Main Activity" />
        <activity
            android:name=".activity.StartupActivity"
            android:label="Startup Activity" />
        <activity
            android:name=".activity.BorrowerLoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme2"/>
        <activity
            android:name=".activity.LLoginActivity"
            android:label="Lender&apos;s Login" />
        <activity
            android:name=".activity.BorrowerSignupActivity"
            android:label="SIGN UP" />
        <activity
            android:name=".activity.BorrowerLenderActivity"
            android:label="Lenders Available" android:parentActivityName=".activity.BorrowerMainActivity"/>
        <activity
            android:name=".activity.LenderMainActivity"
            android:label="Main" />
        <activity
            android:name=".activity.LProfileActivity"
            android:label="" />
        <activity android:name=".activity.CheckCredit" />
        <activity android:name=".activity.ContactUs" />
        <activity android:name=".activity.TermsActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.LenderLendActivity" android:parentActivityName=".activity.LenderMainActivity" />
        <activity android:name=".activity.BFindProfileActivity" />
        <activity android:name=".activity.BProfileActivity"
            android:label=""/>
        <activity android:name=".activity.LFindProfileActivity" />
        <activity android:name=".activity.HowItWorks"></activity>
    </application>

</manifest>